<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- 删除默认的苹果工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>test</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/Javascript/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/Javascript/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <a href="index" class="header_a header_logo">
            <img src="/imgs/logo.png" alt="">
        </a>
        <a href="index" class="header_a header_menu">首页</a>
        <a href="product" class="header_a header_menu">产品</a>
        <a href="vip" class="header_a header_menu">会员中心</a>
        <a href="about" class="header_a header_menu">关于我们</a>
        <a href="news" class="header_a header_menu">新闻栏目</a>
        <a href="photo" class="header_a header_menu">上传照片</a>
    </header>
    <div class="content">
        {{{body}}}
    </div>
    <footer>
        <div class="footer_link">
            <a href="">网站地图</a>
            <a href="">|</a>
            <a href="">版权申明</a>
            <a href="">|</a>
            <a href="">友情链接</a>
            <a href="">|</a>
            <a href="">联系我们</a>
        </div>
        <div class="footer_copyrights">
            <a>北京春霞兮科技有限公司 版权所有</a>
        </div>
        <div class="footer_authorities">
            <a>京 ICP 证 02302463 号|Copyright © 1999-2016, FEWSS.NET, All Rights Reserved</a>
        </div>
    </footer>
</body>
</html>